<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaidoh.mayuukhvarshney.gearjam">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:name=".AppControl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuitarGenre"
            android:label="GearJam"

            android:parentActivityName=".MainActivity"

            >

        </activity>
        <activity android:name=".DisplayTrackActivity"
            android:label="GearJam"
            android:launchMode="singleInstance"
          >

        </activity>
        <activity android:name=".ViolinGenre"
                  android:parentActivityName=".MainActivity"



            >

        </activity>
        <activity android:name=".ElectronicGenre"
            android:parentActivityName=".MainActivity"


            >

        </activity>
        <activity android:name=".Playlist"
            android:parentActivityName=".MainActivity"
            >

        </activity>
        <activity android:name=".SitarGenre"
            android:parentActivityName=".MainActivity"


            >

        </activity>
        <activity android:name=".PianoGenre"
                 android:parentActivityName=".MainActivity"


            >

        </activity>


        <service android:name=".MusicService"
                 android:enabled="true"
            >

        </service>
        <service android:name=".PlayListService"
            android:enabled="true">

        </service>

    </application>

</manifest>
